### Exploratory Data Analysis

###

In [3]:
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine
load_dotenv('credentials.env')
MYSQL_USER = os.getenv("MYSQL_USER")
MYSQL_PASS = os.getenv("MYSQL_PASS")
MYSQL_HOST = os.getenv("MYSQL_HOST")
MYSQL_PORT = os.getenv("MYSQL_PORT")
MYSQL_DB   = "vendoranalytics"

#creating database connection
connection_string = f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PASS}@{MYSQL_DB}:{MYSQL_PORT}/{MYSQL_DB}"
conn = create_engine(connection_string)

In [4]:
#checking tables present in the database
tables = pd.read_sql_query("SHOW TABLES", conn)
tables

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'vendoranalytics' ([Errno 11001] getaddrinfo failed)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [48]:
for table in tables['Tables_in_vendoranalytics']:
    print('-'*40, table, '-'*40)
    display(pd.read_sql(f"SELECT * FROM {table} LIMIT 5", conn))
    print('Count of records:', pd.read_sql(f"SELECT COUNT(*) as count FROM {table}", conn)['count'].values[0])
    print()

---------------------------------------- begin_inventory ----------------------------------------

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

Count of records: 206529

---------------------------------------- end_inventory ----------------------------------------

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

Count of records: 224489

---------------------------------------- purchase_prices ----------------------------------------

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,None,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,None,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,None,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,None,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,None,1,10.94,7245,PROXIMO SPIRITS INC.

Count of records: 12261

---------------------------------------- purchases ----------------------------------------

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-02-01,2024-04-01,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-07-01,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-02-01,2024-07-01,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-07-01,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-02-01,2024-09-01,2024-02-16,21.32,5,106.60,1

Count of records: 2372474

---------------------------------------- sales ----------------------------------------

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-02-01,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-03-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-08-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-09-01,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

Count of records: 12825363

---------------------------------------- vendor_invoice ----------------------------------------

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-04-01,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-07-01,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-09-01,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-12-01,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-07-01,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

Count of records: 5543

In [56]:
purchases = pd.read_sql("SELECT * FROM purchases WHERE VendorNumber = 105", conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-02-01,2024-04-01,2024-02-16,35.71,6,214.26,1
1,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8234,2023-12-29,2024-04-01,None,2024-02-22,35.71,6,214.26,1
2,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8234,2023-12-29,2024-07-01,None,2024-02-22,35.71,6,214.26,1
3,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,None,None,2024-03-31,35.71,6,214.26,1
4,10_HORNSEY_8412,10,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,None,None,2024-03-31,35.71,6,214.26,1
5,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,None,None,2024-03-31,35.71,6,214.26,1
6,32_MOUNTMEND_8412,32,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8979,2024-02-18,None,2024-05-03,2024-04-15,35.71,6,214.26,1
7,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9016,2024-02-21,2024-01-03,None,2024-04-11,35.71,6,214.26,1
8,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9131,2024-02-29,2024-08-03,None,2024-04-17,35.71,3,107.13,1
9,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9449,2024-03-22,None,2024-09-04,2024-05-12,35.71,6,214.26,1
10,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9518,2024-03-27,2024-06-04,2024-12-04,2024-05-17,35.71,6,214.26,1
11,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9719,2024-04-10,None,None,2024-06-12,35.71,6,214.26,1
12,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9719,2024-04-10,None,None,2024-06-12,35.71,6,214.26,1
13,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9871,2024-04-20,None,2024-10-05,2024-06-10,35.71,6,214.26,1
14,54_GUTHRAM_2529,54,2529,Right Gin,750mL,105,ALTAMAR BRANDS LLC,9952,2024-04-26,2024-06-05,None,2024-06-25,23.25,6,139.50,1
15,74_PAENTMARWY_8412,74,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9952,2024-04-26,2024-05-05,None,2024-06-25,35.71,12,428.52,1
16,60_IRRAGIN_8412,60,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10021,2024-05-01,2024-12-05,None,2024-06-26,35.71,3,107.13,1
17,37_PAETHSMOUTH_8412,37,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10222,2024-05-15,None,2024-04-06,2024-07-05,35.71,2,71.42,1
18,47_PELLA'S WISH_8412,47,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10377,2024-05-25,2024-04-06,2024-12-06,2024-07-19,35.71,1,35.71,1
19,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10377,2024-05-25,None,2024-12-06,2024-07-19,35.71,5,178.55,1
20,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10465,2024-05-31,2024-06-06,None,2024-07-16,35.71,6,214.26,1
21,41_LARNWICK_8412,41,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10465,2024-05-31,2024-08-06,None,2024-07-16,35.71,6,214.26,1
22,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10578,2024-06-08,None,None,2024-08-02,35.71,6,214.26,1
23,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10632,2024-06-12,None,None,2024-08-12,35.71,6,214.26,1
24,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10632,2024-06-12,None,None,2024-08-12,35.71,6,214.26,1
25,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10797,2024-06-23,None,2024-07-07,2024-08-14,35.71,6,214.26,1
26,37_PAETHSMOUTH_8412,37,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10835,2024-06-25,2024-01-07,2024-08-07,2024-08-05,35.71,2,71.42,1
27,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10998,2024-07-01,2024-05-07,2024-11-07,2024-08-12,35.71,6,214.26,1
28,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10998,2024-07-01,2024-05-07,2024-11-07,2024-08-12,35.71,5,178.55,1
29,60_IRRAGIN_8412,60,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11170,2024-07-13,None,None,2024-08-27,35.71,6,214.26,1
30,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11310,2024-07-22,None,2024-04-08,2024-09-14,35.71,6,214.26,1
31,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11310,2024-07-22,None,2024-04-08,2024-09-14,35.71,6,214.26,1
32,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11381,2024-07-27,2024-03-08,2024-10-08,2024-09-21,35.71,5,178.55,1
33,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11381,2024-07-27,2024-03-08,2024-10-08,2024-09-21,35.71,6,214.26,1
34,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11565,2024-08-09,None,None,2024-09-22,35.71,12,428.52,1
35,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11666,2024-08-16,None,None,2024-10-03,35.71,6,214.26,1
36,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11817,2024-08-26,None,2024-10-09,2024-10-14,35.71,6,214.26,1
37,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11835,2024-08-28,2024-09-09,None,2024-10-14,35.71,6,214.26,1
38,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,None,None,2024-10-26,35.71,6,214.26,1
39,55_DRY GULCH_8412,55,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,None,None,2024-10-26,35.71,6,214.26,1
40,41_LARNWICK_8412,41,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,None,None,2024-10-26,35.71,6,214.26,1
41,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12057,2024-09-12,None,2024-03-10,2024-11-05,35.71,6,214.26,1
42,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12352,2024-09-27,2024-04-10,None,2024-11-13,35.71,6,214.26,1
43,49_GARIGILL_8412,49,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12499,2024-10-07,2024-11-10,None,2024-12-03,35.71,6,214.26,1
44,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12499,2024-10-07,2024-12-10,None,2024-12-03,35.71,6,214.26,1
45,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12583,2024-10-13,None,None,2024-12-08,35.71,6,214.26,1
46,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12618,2024-10-16,None,2024-04-11,2024-12-13,35.71,6,214.26,1
47,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12802,2024-10-28,2024-02-11,2024-10-11,2024-12-24,35.71,6,214.26,1
48,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12874,2024-11-02,2024-07-11,None,2024-12-19,35.71,6,214.26,1
49,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12874,2024-11-02,2024-07-11,None,2024-12-19,35.71,6,214.26,1
50,55_DRY GULCH_8412,55,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13050,2024-11-14,None,2024-05-12,2025-01-02,35.71,6,214.26,1
51,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13304,2024-12-01,2024-05-12,None,2025-01-13,35.71,6,214.26,1
52,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13336,2024-12-04,None,None,2025-02-04,35.71,6,214.26,1
53,32_MOUNTMEND_8412,32,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13445,2024-12-11,None,None,2025-02-11,35.71,6,214.26,1
54,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,None,2025-02-01,2025-02-15,35.71,6,214.26,1
55,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,None,2025-02-01,2025-02-15,35.71,6,214.26,1
56,54_GUTHRAM_2529,54,2529,Right Gin,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,None,2025-02-01,2025-02-15,23.25,6,139.50,1

In [52]:
purchase_prices  = pd.read_sql("SELECT * FROM purchase_prices WHERE VendorNumber = 105", conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,8412,Tequila Ocho Plata Fresno,49.99,750mL,None,1,35.71,105,ALTAMAR BRANDS LLC
1,8419,Ocho Tequila Plata Corrales,6.99,100mL,None,1,5.30,105,ALTAMAR BRANDS LLC
2,2529,Right Gin,29.99,750mL,None,1,23.25,105,ALTAMAR BRANDS LLC

In [62]:
vendor_invoice  = pd.read_sql("SELECT * FROM vendor_invoice WHERE VendorNumber = 105", conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-04-01,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,105,ALTAMAR BRANDS LLC,None,8234,2023-12-29,2024-02-22,12,428.52,2.19,None
2,105,ALTAMAR BRANDS LLC,None,8836,2024-02-09,2024-03-31,18,642.78,3.02,None
3,105,ALTAMAR BRANDS LLC,2024-05-03,8979,2024-02-18,2024-04-15,6,214.26,1.11,None
4,105,ALTAMAR BRANDS LLC,None,9016,2024-02-21,2024-04-11,6,214.26,1.09,None
5,105,ALTAMAR BRANDS LLC,None,9131,2024-02-29,2024-04-17,3,107.13,0.57,None
6,105,ALTAMAR BRANDS LLC,2024-09-04,9449,2024-03-22,2024-05-12,6,214.26,1.07,None
7,105,ALTAMAR BRANDS LLC,2024-12-04,9518,2024-03-27,2024-05-17,6,214.26,1.11,None
8,105,ALTAMAR BRANDS LLC,None,9719,2024-04-10,2024-06-12,12,428.52,2.31,None
9,105,ALTAMAR BRANDS LLC,2024-10-05,9871,2024-04-20,2024-06-10,6,214.26,1.18,None
10,105,ALTAMAR BRANDS LLC,None,9952,2024-04-26,2024-06-25,18,568.02,3.12,None
11,105,ALTAMAR BRANDS LLC,None,10021,2024-05-01,2024-06-26,3,107.13,0.57,None
12,105,ALTAMAR BRANDS LLC,2024-04-06,10222,2024-05-15,2024-07-05,2,71.42,0.39,None
13,105,ALTAMAR BRANDS LLC,2024-12-06,10377,2024-05-25,2024-07-19,6,214.26,1.16,None
14,105,ALTAMAR BRANDS LLC,None,10465,2024-05-31,2024-07-16,12,428.52,2.36,None
15,105,ALTAMAR BRANDS LLC,None,10578,2024-06-08,2024-08-02,6,214.26,1.16,None
16,105,ALTAMAR BRANDS LLC,None,10632,2024-06-12,2024-08-12,12,428.52,2.31,None
17,105,ALTAMAR BRANDS LLC,2024-07-07,10797,2024-06-23,2024-08-14,6,214.26,1.05,None
18,105,ALTAMAR BRANDS LLC,2024-08-07,10835,2024-06-25,2024-08-05,2,71.42,0.36,None
19,105,ALTAMAR BRANDS LLC,2024-11-07,10998,2024-07-01,2024-08-12,11,392.81,1.92,None
20,105,ALTAMAR BRANDS LLC,None,11170,2024-07-13,2024-08-27,6,214.26,1.05,None
21,105,ALTAMAR BRANDS LLC,2024-04-08,11310,2024-07-22,2024-09-14,12,428.52,2.10,None
22,105,ALTAMAR BRANDS LLC,2024-10-08,11381,2024-07-27,2024-09-21,11,392.81,2.00,None
23,105,ALTAMAR BRANDS LLC,None,11565,2024-08-09,2024-09-22,12,428.52,2.10,None
24,105,ALTAMAR BRANDS LLC,None,11666,2024-08-16,2024-10-03,6,214.26,0.99,None
25,105,ALTAMAR BRANDS LLC,2024-10-09,11817,2024-08-26,2024-10-14,6,214.26,1.05,None
26,105,ALTAMAR BRANDS LLC,None,11835,2024-08-28,2024-10-14,6,214.26,1.11,None
27,105,ALTAMAR BRANDS LLC,None,11938,2024-09-04,2024-10-26,18,642.78,3.34,None
28,105,ALTAMAR BRANDS LLC,2024-03-10,12057,2024-09-12,2024-11-05,6,214.26,1.11,None
29,105,ALTAMAR BRANDS LLC,2024-11-10,12376,2024-09-29,2024-11-14,6,214.26,1.16,None
30,105,ALTAMAR BRANDS LLC,None,12486,2024-10-06,2024-12-04,12,428.52,2.27,None
31,105,ALTAMAR BRANDS LLC,2024-01-11,12537,2024-10-10,2024-12-05,6,214.26,0.96,None
32,105,ALTAMAR BRANDS LLC,None,12634,2024-10-17,2024-12-08,6,214.26,1.03,None
33,105,ALTAMAR BRANDS LLC,2024-11-11,12765,2024-10-26,2024-12-11,6,214.26,1.11,None
34,105,ALTAMAR BRANDS LLC,None,12871,2024-11-01,2024-12-22,12,428.52,2.31,None
35,105,ALTAMAR BRANDS LLC,None,13053,2024-11-14,2025-01-13,6,214.26,1.16,None
36,105,ALTAMAR BRANDS LLC,None,13293,2024-11-30,2025-01-16,6,214.26,1.09,None
37,105,ALTAMAR BRANDS LLC,None,13349,2024-12-05,2025-02-01,6,214.26,1.18,None
38,105,ALTAMAR BRANDS LLC,2025-03-01,13464,2024-12-12,2025-02-05,6,214.26,1.14,None
39,105,ALTAMAR BRANDS LLC,2025-04-01,13575,2024-12-19,2025-02-03,18,568.02,2.61,None

In [55]:
sales  = pd.read_sql("SELECT * FROM sales WHERE VendorNo = 105", conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_8412,1,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,None,750.0,1,0.79,105,ALTAMAR BRANDS LLC
1,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-08-01,100.0,1,0.10,105,ALTAMAR BRANDS LLC
2,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-12-01,100.0,1,0.10,105,ALTAMAR BRANDS LLC
3,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,None,100.0,1,0.10,105,ALTAMAR BRANDS LLC
4,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,None,100.0,1,0.10,105,ALTAMAR BRANDS LLC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,None,750.0,1,0.79,105,ALTAMAR BRANDS LLC
263,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,None,750.0,1,0.79,105,ALTAMAR BRANDS LLC
264,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-04-12,750.0,1,0.79,105,ALTAMAR BRANDS LLC
265,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,None,750.0,1,0.79,105,ALTAMAR BRANDS LLC
266,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,None,750.0,1,0.79,105,ALTAMAR BRANDS LLC

In [57]:
purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity', 'Dollars']].sum()

                     Quantity  Dollars
Brand PurchasePrice
2529  23.25                12    279.0
8412  35.71               320  11427.2

In [58]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,8412,Tequila Ocho Plata Fresno,49.99,750mL,None,1,35.71,105,ALTAMAR BRANDS LLC
1,8419,Ocho Tequila Plata Corrales,6.99,100mL,None,1,5.30,105,ALTAMAR BRANDS LLC
2,2529,Right Gin,29.99,750mL,None,1,23.25,105,ALTAMAR BRANDS LLC

In [68]:
vendor_invoice['PONumber'].nunique()

40

In [72]:
sales.groupby('Brand')[['SalesDollars', 'SalesPrice', 'SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
2529         359.88       59.98             12
8412       15346.93    12947.41            307
8419          41.94       41.94              6

* The purchase table contains actual purchase data, including the date of purchase, products (brands) purchased by the vendors, the amount pad (in dollars), and the quantity purchased.
* The purchase price column is derived from the purchase_price table, which provides product-wise actual and purchase prices, the combination of vendor and brand is unique in this table.
* The vendor_invoice table aggregates data from the purchase table, summarizing quantity and dollar amounts, along with an additional column for freight.
The table maintain uniqueness based on vendor and PO Number.
* The Sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price and the revenue earned.

--------------------------------------------------------------------------------------------------------------------------------------------

As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:
* Purchase transaction made by vendors
* Sales transaction data
* Freight costs for each vendor
* Actual product prices from vendors

###

In [73]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [76]:
freight_summary = pd.read_sql("SELECT VendorNumber, SUM(Freight) AS FreightCost FROM vendor_invoice GROUP BY VendorNumber", conn)
freight_summary

     VendorNumber  FreightCost
0             105        62.39
1            4466       793.91
2             388       211.74
3             480     89286.27
4             516      8510.41
..            ...          ...
121        201359         0.09
122          4901         0.72
123         90059        74.84
124          5083        10.68
125            54         0.48

[126 rows x 2 columns]

In [83]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [1]:
pd.read_sql_query("""
                SELECT p.VendorNumber, p.VendorName, p.Brand, p.PurchasePrice, pp.Volume,
                pp.Price AS ActualPrice,
                SUM(p.Quantity) AS TotalPurchaseQuantity, 
                SUM(p.Dollars) AS TotalPurchaseDollars
                FROM purchases p 
                JOIN purchase_prices pp ON p.Brand = pp.Brand
                WHERE p.PurchasePrice > 0 
                GROUP BY p.VendorNumber, p.VendorName, p.Brand
                ORDER BY TotalPurchaseDollars
            """, conn)

NameError: name 'pd' is not defined